@import url(reset.css);

.container {
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.container-table {
    display: flex;
    justify-content: center;
}

table {
    width: 800px;
    text-align: center;    
}

td, th {
    padding: 8px;
    font-size: 16px;
}

.cor-diferente td {
    background-color: #ddd;
}

.img {
    cursor: pointer;
    opacity: 0%;
    width: 30px;
    height: 10px;
    z-index: 999; 
}
/* Mostrar imagem do produto */
.imagem-css:hover {
    border: 1px solid #000;
    width: 100px;
    height: 70px;
    opacity: 100%;
    position: absolute;
    left: 200px;
    z-index: 999; 
}

/* Para fazer no JavaScript e jQuery*/
.imagem {
    border: 1px solid #000;
    width: 100px;
    height: 70px;
    opacity: 100%;
    position: absolute;
    left: 200px;
    z-index: 999; 
}

/* Dados do CEP*/
.linha-cep {
    cursor: pointer;
}

.ocultar-cep  {
    cursor: pointer;
    opacity: 0%;
    width: 40px;
    height: 10px;
    z-index: 999; 
}



.mostrar-cep {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 150px;
    height: 70px;
    opacity: 100%;
    position: absolute;
    left: 550px;
    z-index: 999; 
}