@import url(reset.css);

.container {
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.container-table {
    display: flex;
    justify-content: center;
}

table {
    width: 800px;
    text-align: center;    
}

td, th {
    padding: 8px;
    font-size: 16px;
}

.cor-diferente td {
    background-color: #ddd;
}

/* Mostrar imagem do produto */
.imagem-none {
    opacity: 0%;
}

.imagem-none:hover {
    opacity: 100%;
    cursor: pointer;
    z-index: 999; 
}