@import url(reset.css);

div {
    background-color: #890016;
    color: white;
}

li {
    padding: 10px;
    list-style-type: none
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background: #a1273b;
    padding: 5px 120px 5px 5px;
    border-radius: 5px;
}

.menu {
    cursor: pointer;
}

/* SubMenu Feito em JavaScript */ 
.menu ul {
    display: none;
}

.submenu ul {
    display: block;
}