@import url(reset.css);
@import url(config.css);

.container {
    display: flex;
}

.container-menu {
    background-color: #890016;
    display: inline-block;
    align-items: center;
    width: 230px;
}

.image {
    padding-top: 10px;
    text-align: center;
}

.image img {
    border-radius: 5px;
    max-width: 90%;
}

.container-menu iframe {
    width: 230px;
    height: 478px;
}

.container-cabecalho-conteudo {
    width: calc(100% - 230px);
    text-align: center;
    margin: auto;
}

.cabecalho {
    /*Fazer o elemento ficar no top da página e na frente dos outros elementos */
    position: absolute;
    top: 0;
    left: 230px;
    right: 10px;
    z-index: 1; /* Vai posicionar o elemento na frente */
    background-color: #3e48cd;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
}

.container-conteudo {
    background-color: #eee;
    height: 500px;
    margin-top: 40px;
}

.container-conteudo iframe {
    width: calc(100% - 230px);
    height: 400px;
}